<doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Disappearing Ninjas</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel href="{{ url_for('static', filename='static/style.css') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>

    <body>
       <div class="container-fluid">
           
        <h1 class="text-center" style="text-align: center; text-decoration: none;">No ninjas here!</h1>
        <form method="GET" action="/ninja">
            <button type="submit" class="btn btn-lg btn-success" style="margin-left: 884px; margin-top: 12px; width: 180px;">Show Ninjas!</button>
        </form>
        <form method="GET" action="/ninja/blue">
            <button type="submit" class="btn btn-lg btn-primary" style="margin-left: 884px; margin-top: 12px; width: 180px;">Leonardo</button>

        </form>
        <form method="GET" action="/ninja/red">
            <button type="submit" class="btn btn-lg btn-danger" style="margin-left: 884px; margin-top: -5px; width: 180px;">Raphael</button>
        </form>
        <form method="GET" action="/ninja/purple">
            <button type="submit" class="btn btn-lg btn-success" style="margin-left: 884px; margin-top: -3px; width: 180px; background-color: purple;">Donatello</button>

        </form>
        <form method="GET" action="/ninja/orange">
            <button type="submit" class="btn btn-lg btn-warning" style="margin-left: 884px; margin-top: 7px; width: 180px;">Michelangelo</button>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

       </div>
    </body>

    </html>